{% extends 'musicapp/base.html' %}

{% block content %}
<div class="features-clean">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Music App Features</h2>
            <p class="text-center">For the passionate and casual music lovers around the world.</p>
        </div>
        <div class="row features">
            <div class="col-md-4 col-sm-6 item"><i class="glyphicon glyphicon-map-marker icon"></i>
                <h3 class="name">Music Event in your area</h3>
                <p class="description">See upcoming music events in your area direclty from the homepage. For the
                    concert or live music lover.</p>
            </div>
            <div class="col-md-4 col-sm-6 item"><i class="glyphicon glyphicon-time icon"></i>
                <h3 class="name">Upcoming Albums</h3>
                <p class="description">Get the scoop on the latest albums to be released. Keep up to date on music that
                    you love.</p>
            </div>
            <div class="col-md-4 col-sm-6 item"><i class="icon ion-music-note icon"></i>
                <h3 class="name">Listen to music</h3>
                <p class="description">Listen to music for free. Stream &nbsp;to any of your devices a sample of the
                    music that you like. Get a free 30 seconds sample.</p>
            </div>
            <div class="col-md-4 col-sm-6 item"><i class="glyphicon glyphicon-comment icon"></i>
                <h3 class="name">Leave comments</h3>
                <p class="description">Leave comments on artists, albums and songs so that other users can spark a
                    discussion on the topic.</p>
            </div>
            <div class="col-md-4 col-sm-6 item"><i class="glyphicon glyphicon-star icon"></i>
                <h3 class="name">Leave Ratings</h3>
                <p class="description">Leave a rating for artists, albums and songs so that the community can get to
                    know what good music is all about.</p>
            </div>
            <div class="col-md-4 col-sm-6 item"><i class="glyphicon glyphicon-phone icon"></i>
                <h3 class="name">Mobile friendly</h3>
                <p class="description">Designed for your smartphone. Access this website from any device you may have
                    and enjoy the same experience.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}