{% extends 'musicapp/base.html' %}

{% block content %}
    {% include 'musicapp/components/rate_modal.html' with type='album' %}
    <div class="relative">
        <div class="row">
            <div class="col-sm-8">
                <h2>{{ album.Title }}</h2>
            </div>
        </div>
        {% if avg_int == 5 %}
            <div id="rating">
                <i class="glyphicon glyphicon-star"></i>
                <i class="glyphicon glyphicon-star"></i>
                <i class="glyphicon glyphicon-star"></i>
                <i class="glyphicon glyphicon-star"></i>
                <i class="glyphicon glyphicon-star"></i></div>
        {% elif avg_int == 4 %}
            <div id="rating">
                <i class="glyphicon glyphicon-star"></i>
                <i class="glyphicon glyphicon-star"></i>
                <i class="glyphicon glyphicon-star"></i>
                <i class="glyphicon glyphicon-star"></i>
                <i class="glyphicon glyphicon-star-empty"></i></div>
        {% elif avg_int == 3 %}
            <div id="rating">
                <i class="glyphicon glyphicon-star"></i>
                <i class="glyphicon glyphicon-star"></i>
                <i class="glyphicon glyphicon-star"></i>
                <i class="glyphicon glyphicon-star-empty"></i>
                <i class="glyphicon glyphicon-star-empty"></i></div>
        {% elif avg_int == 2 %}
            <div id="rating">
                <i class="glyphicon glyphicon-star"></i>
                <i class="glyphicon glyphicon-star"></i>
                <i class="glyphicon glyphicon-star-empty"></i>
                <i class="glyphicon glyphicon-star-empty"></i>
                <i class="glyphicon glyphicon-star-empty"></i></div>
        {% elif avg_int == 1 %}
            <div id="rating">
                <i class="glyphicon glyphicon-star"></i>
                <i class="glyphicon glyphicon-star-empty"></i>
                <i class="glyphicon glyphicon-star-empty"></i>
                <i class="glyphicon glyphicon-star-empty"></i>
                <i class="glyphicon glyphicon-star-empty"></i></div>
        {% else %}
            <div id="rating">
                <i class="glyphicon glyphicon-star-empty"></i>
                <i class="glyphicon glyphicon-star-empty"></i>
                <i class="glyphicon glyphicon-star-empty"></i>
                <i class="glyphicon glyphicon-star-empty"></i>
                <i class="glyphicon glyphicon-star-empty"></i></div>
        {% endif %}
        <button class="btn btn-primary rate"
                type="button" data-toggle="modal" data-target="#rate-modal">rate album
        </button>
        <hr>
    </div>
    <div class="relative"><img src="{{ album.PictureURL }}" class="profile-photo">
        <h4>Details:</h4>
        <div class="row">
            <div class="col-sm-2 col-xs-3">
                <p>Artist:</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
            </div>
            <div class="col-sm-10 col-xs-9">
                <p><a href="{% url 'artist' album.Artist.ArtistSlug %}">{{ album.Artist.Name }}</a></p>
            </div>
        </div>
        <div class="clearfix"></div>
        <hr>
    </div>
    <div class="relative">
        <h4>Songs:</h4>
        <div id="tracks">
            <div class="row">
                <div class="col-sm-8">
                    {% for song in songs %}
                        {% include 'musicapp/components/play_song.html' with song=song %}
                    {% endfor %}
                </div>
                <div class="col-sm-4 hidden-xs" id="lyrics">
                    <h5>Lyrics:</h5>
                    <hr>
                    <p>Lyrics for playing song here</p>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="relative">
        <h4>Comments:</h4>
        <div class="clearfix"></div>
        <hr>
        <div id="comments">
            {% include 'musicapp/components/comment.html' %}
        </div>
        {% include 'musicapp/components/new_comment.html' with type='album' %}
    </div>

{% endblock %}




