<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if page_title %}{{ page_title }} {% endif %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/paper/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static 'js/notifications.js' %}"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="{% static 'js/player.js' %}"></script>

</head>

<body>
<nav class="navbar navbar-default navigation-clean">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'home' %}">HOME </a>
            <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav navbar-right">
                <li role="presentation" class="btn btn-default control" id="header-player">
                    <i class="fa fa-play-circle-o" title="Play song"></i></li>
                <li role="presentation" {% if search_active %} class="active" {% endif %}><a
                        href="{% url 'search' %}">Search</a></li>
                <li role="presentation" {% if about_active %} class="active" {% endif %}><a
                        href="{% url 'about' %}">About Us</a></li>
                <li role="presentation" {% if contact_active %} class="active" {% endif %}><a
                        href="{% url 'contact' %}">Contact </a></li>

                {% if user.is_authenticated %}
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">@{{ user.username }}
                            <span class="caret"></span>
                            <img src="{{ user.userprofile.profile_picture }}">
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation"><a href="{% url 'profile' %}">Profile </a></li>
                            <li role="presentation"><a href="{% url 'logout' %}">Logout </a></li>
                        </ul>
                    </li>
                {% else %}
                    <li role="presentation" {% if register_active %} class="active" {% endif %}><a
                            href="{% url 'register' %}">Register</a></li>
                    <li role="presentation" {% if login_active %} class="active" {% endif %}><a
                            href="{% url 'login' %}">Login</a></li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>
<div class="container" id="main-content">
    {% block content %}
    {% endblock %}
</div>
<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-push-6 item text">
                    <h3>Company Name</h3>
                    <p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut vehicula
                        rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel
                        in justo.</p>
                </div>
                <div class="col-md-3 col-md-pull-6 col-sm-4 item">
                    <h3>Services</h3>
                    <ul>
                        <li><a href="#">Web design</a></li>
                        <li><a href="#">Development</a></li>
                        <li><a href="#">Hosting</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-md-pull-6 col-sm-4 item">
                    <h3>About</h3>
                    <ul>
                        <li><a href="#">Company</a></li>
                        <li><a href="#">Team</a></li>
                        <li><a href="#">Careers</a></li>
                    </ul>
                </div>
                <div class="col-md-12 col-sm-4 item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a
                        href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i
                        class="icon ion-social-snapchat"></i></a><a href="#"><i
                        class="icon ion-social-instagram"></i></a></div>
            </div>
            <p class="copyright">Company Name © 2016</p>
        </div>
    </footer>
</div>
</body>

</html>
