{% extends 'musicapp/base.html' %}

{% block content %}
    <div class="form-dark">
        <form method="post">
            <h2>Contact Us</h2>
            <div class="illustration"><i class="icon ion-ios-people"></i></div>
            <div class="form-group">
                <input class="form-control" type="text" name="name" required="" placeholder="Your Name" autofocus="">
            </div>
            <div class="form-group">
                <input class="form-control" type="email" name="email" required="" placeholder="Your Email">
            </div>
            <div class="form-group">
                <textarea class="form-control" name="message" placeholder="Your Message"></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit">send</button>
            </div>
        </form>
    </div>
{% endblock %}