{% extends 'musicapp/base.html' %}

{% block content %}
    <form class="search-form" id="search-form" method="get"  action="{% url 'search' %}">
         {% csrf_token %}
        <div class="input-group">
            <div class="input-group-addon"><span><i class="glyphicon glyphicon-search"></i></span></div>
            <input class="form-control" value="{{ keyword }}" type="text" placeholder="I am looking for.." name="searchValue"/>
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit">Search</button>
            </div>
        </div>
    </form>
    <div id="search-results">

        {% include 'musicapp/components/search_results.html' with result=returned_list paging=paging_result %}

    </div>

    <div>
    </div>






{% endblock %}
