{% extends 'musicapp/base.html' %}

{% block content %}
    {% include 'musicapp/components/rate_modal.html' with type='Song' %}
    <div class="relative">
        <h2>{{ song.Title }}</h2>
        {% if avg_int == 5 %}
            <div id="rating">
                <i class="glyphicon glyphicon-star"></i>
                <i class="glyphicon glyphicon-star"></i>
                <i class="glyphicon glyphicon-star"></i>
                <i class="glyphicon glyphicon-star"></i>
                <i class="glyphicon glyphicon-star"></i></div>
        {% elif avg_int == 4 %}
            <div id="rating">
                <i class="glyphicon glyphicon-star"></i>
                <i class="glyphicon glyphicon-star"></i>
                <i class="glyphicon glyphicon-star"></i>
                <i class="glyphicon glyphicon-star"></i>
                <i class="glyphicon glyphicon-star-empty"></i></div>
        {% elif avg_int == 3 %}
            <div id="rating">
                <i class="glyphicon glyphicon-star"></i>
                <i class="glyphicon glyphicon-star"></i>
                <i class="glyphicon glyphicon-star"></i>
                <i class="glyphicon glyphicon-star-empty"></i>
                <i class="glyphicon glyphicon-star-empty"></i></div>
        {% elif avg_int == 2 %}
            <div id="rating">
                <i class="glyphicon glyphicon-star"></i>
                <i class="glyphicon glyphicon-star"></i>
                <i class="glyphicon glyphicon-star-empty"></i>
                <i class="glyphicon glyphicon-star-empty"></i>
                <i class="glyphicon glyphicon-star-empty"></i></div>
        {% elif avg_int == 1 %}
            <div id="rating">
                <i class="glyphicon glyphicon-star"></i>
                <i class="glyphicon glyphicon-star-empty"></i>
                <i class="glyphicon glyphicon-star-empty"></i>
                <i class="glyphicon glyphicon-star-empty"></i>
                <i class="glyphicon glyphicon-star-empty"></i></div>
        {% else %}
            <div id="rating">
                <i class="glyphicon glyphicon-star-empty"></i>
                <i class="glyphicon glyphicon-star-empty"></i>
                <i class="glyphicon glyphicon-star-empty"></i>
                <i class="glyphicon glyphicon-star-empty"></i>
                <i class="glyphicon glyphicon-star-empty"></i></div>
        {% endif %}
        <button class="btn btn-primary rate"
                type="button" data-toggle="modal" data-target="#rate-modal">
            rate song
        </button>
        <hr>
    </div>
    <div class="relative">
        <img src="{{ song.PictureURL }}" class="profile-photo">
        <h4>Details:</h4>
        <div class="row">
            <div class="col-sm-2 col-xs-3">
                <p>Artist:</p>
                <p>Album:</p>
                <p>Rank:</p>
                <p>Release Date:&nbsp;</p>
            </div>
            <div class="col-sm-10 col-xs-9">
                <p><a href="{% url 'artist' song.Artist.ArtistSlug %}">{{ song.Artist }}</a></p>
                <p><a href="{% url 'album' song.Artist.ArtistSlug song.Album.AlbumSlug %}">{{ song.Album }}</a></p>
                <p>{{ detail.0 }}</p>{#rank#}
                <p>{{ detail.1 }}</p>{#realse data#}
            </div>
        </div>
        <div class="clearfix"></div>
        <hr>
    </div>
    <div class="relative">
        <div id="tracks">
            <div class="row">
                <div class="col-sm-8">
                    {% include 'musicapp/components/play_song.html' %}
                </div>
                <div class="col-sm-4 hidden-xs" id="lyrics" >
                    <h5>Lyrics:</h5>
                    <pre style="height: 300px; width: 400px">{{ detail.2 }} {#lyrics#}</pre>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="relative">
        <h4>Comments:</h4>
        <div class="clearfix"></div>
        <hr>
        <div id="comments">
            {% include 'musicapp/components/comment.html' %}
        </div>
        {% include 'musicapp/components/new_comment.html' with type='song' %}
    </div>
{% endblock %}
