{% extends 'musicapp/base.html' %}

{% block content %}
    {% include 'musicapp/components/rate_modal.html' with type='Song' %}
    <div class="relative">
        <h2>Song Title</h2>
        <div id="rating">
            <i class="glyphicon glyphicon-star-empty"></i>
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-star"></i>
        </div>
        <button class="btn btn-primary rate"
                type="button" data-toggle="modal" data-target="#rate-modal">
            rate song
        </button>
        <hr>
    </div>
    <div class="relative">
        <img class="profile-photo">
        <h4>Details:</h4>
        <div class="row">
            <div class="col-sm-2 col-xs-3">
                <p>Artist:</p>
                <p>Album:</p>
                <p>Location:</p>
                <p>Release Date:&nbsp;</p>
            </div>
            <div class="col-sm-10 col-xs-9">
                <p><a href="#">Link</a></p>
                <p><a href="#">Link</a></p>
                <p>Paragraph</p>
                <p>Paragraph</p>
            </div>
        </div>
        <div class="clearfix"></div>
        <hr>
    </div>
    <div class="relative">
        <div id="tracks">
            <div class="row">
                <div class="col-sm-8">
                    {% include 'musicapp/components/play_song.html' %}
                </div>
                <div class="col-sm-4 hidden-xs" id="lyrics">
                    <h5>Lyrics:</h5>
                    <hr>
                    <p>Lyrics this song here</p>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="relative">
        <h4>Comments:</h4>
        <div class="clearfix"></div>
        <hr>
        <div id="comments">
            {% include 'musicapp/components/comment.html' %}
            {% include 'musicapp/components/comment.html' %}
            {% include 'musicapp/components/comment.html' %}
            {% include 'musicapp/components/comment.html' %}
        </div>
        {% include 'musicapp/components/new_comment.html' with type='song' %}
    </div>
{% endblock %}
