<div class="card selectable track">
    <div class="col-xs-9">
        <h4>Song Title</h4>
    </div>
    <div class="col-xs-3">
        <button class="btn btn-default control" type="button">
            <i class="fa fa-play-circle-o" title="Play song"></i>
            <i class="fa fa-pause-circle" title="Pause song"></i>
        </button>
        <button class="btn btn-default control" type="button" title="Add song to playlist">
            <i class="fa fa-music"></i>
        </button>
    </div>
    <div class="clearfix"></div>
</div>