<div class="card selectable track">
    <div class="col-xs-9">
        <h4>Song Title</h4>
    </div>
    <div class="col-xs-3">
        <button class="btn btn-default control" id="player" type="button" src="https://e-cdns-preview-1.dzcdn.net/stream/17cb0814dd83646cd91d7fe53392f333-10.mp3">
            <i class="fa fa-play-circle-o" title="Play song"></i>

            <!-- The type of the button is changed by the script player.js:
                - <i class="fa fa-play-circle-o" title="Play song"></i>
                - <i class="fa fa-pause-circle" title="Pause song"></i> -->
        </button>
        <button class="btn btn-default control" type="button" title="Add song to playlist">
            <i class="fa fa-music"></i>
        </button>
    </div>
    <div class="clearfix"></div>
</div>
